.main-content {
    background-image: url(../Images/NasdaqPicture3.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#form {
    display: flex;
}

.form-control{
    margin-left: 3%;
}

#searchButton {
    background-color: green;
    margin-left: 1%;
}

.title-stock {
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}

.hidden {
    visibility: hidden;
}

#loader {
    color: red;
    width: 35px;
    margin-left: 4px;
}

.list-style {
    list-style: none;
    line-height: 3;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

#display-result {
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    margin-top: 23px;
}

.positive-percentage {
    color: green;
}

.negative-percentage {
    color: red;
}

.company-logo {
    width: 8%;
    margin-left: 15%;
}

.company-link {
    margin-left: 2%;
    font-size: 20px;
}

.company-symbol {
    margin-left: 3px;
    font-size: 15px;
    color: grey;
}

.company-changes {
    font-size: 15px;
    margin-left: 8px;
}

mark {
    background-color: rgb(252, 252, 165);
}

.all-values {
    font-size: 20px;
    background-color: #054497;
    color: white;
    border-bottom: 2px solid white;
}

.stock-price-element {
    color: rgb(6, 192, 6);
    margin-left: 5px;
}

.stock-symbol-element {
    margin-left: 2%;
}

.compare-button {
    position: absolute;
    margin-left: 60%;
}
